/* //////////////////////// */
/*PALLETE*/
:root {
    --gray: #f2f2f2;
    --gray-dark: #eaf0f2;
    --dark: #4e5466;
    --blue: #4682b4;
    --dark-blue: #3f5c91;
    --white: #fff;
    --red: #ff99cc;
    --green: #33cc99;
}

/* //////////////////////// */
/*FONTS */
@font-face {
    font-family: 'GothamRegular';
    src: url('../fonts/GothamRegular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamMedium';
    src: url('../fonts/GothamMedium.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pixelmix';
    src: url('../fonts/Pixelmix.ttf');
    font-weight: normal;
    font-style: normal;
}

/* //////////////////////// */
/*ATOMIC CLASSES */
.inverted {
    filter: invert(1);
    background-color: #0d0d0d;
}

.clickable {
    cursor: pointer;
}

.break {
    background: #fff;
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.05);
}

.break--vertical {
    width: 1px;
    height: 25px;
    min-width: 1px;
}

.break--horizontal {
    width: 1.5rem;
    height: 1px;
}

.break--diagonal {
    width: 22px;
    height: 1px;
    transform: rotate(-59deg) translatey(1px) translatex(2px);
}

/* //////////////////////// */
/*GENERAL */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: var(--gray);
    margin: 1.4rem;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: GothamRegular, sans-serif;
    color: var(--dark);
    margin-bottom: 0;
}

h1, h2, h3, h4, h5 {
    font-family: GothamRegular, sans-serif;
    font-weight: normal;
    margin: 0;
}

h1 {
    font-size: 135%;
    font-weight: bold;
    margin-bottom: 0.3rem;
}

h2 {
    font-size: 110%;
    margin-bottom: 0.5rem;
}

h3 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    height: 1rem;
}

h4 {
    font-size: 1rem;
    margin: 0;
    height: 1rem;
}

h5 {
    font-size: 0.75rem;
    margin: 0.1rem 0;
}

a {
    text-decoration: none;
    color: var(--blue);
    outline: 0;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
    opacity: 1;
}

.wrapper {
    margin: auto;
    width: 90%;
    background-color: var(--gray);
    position: relative;
}

/* //////////////////////// */
/* LOGO */
.logo {
    cursor: pointer;
}

.logo-wrapper {
    width: 175px;
    height: 39px;
    position: relative;
}

#logo__container {
    display: block;
    width: 175px;
    position: absolute;
}

/* logo header */
.header .logo__text {
    fill: var(--dark)
}

.header .logo__icon {
    fill: var(--blue)
}

/* logo footer */
.footer .logo {
    opacity: 0.3;
    display: inline-block;
}

.footer .logo__text {
    fill: #fff
}

.footer .logo__icon {
    fill: #fff
}

/* //////////////////////// */
/* HEADER */
.header {
    z-index: 2;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
}

.header a {
    display: block
}

/*navigation */
.navigation {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-self: center;
    align-items: center;
    user-select: none;
}

.navigation__item.break {
    margin: 0 10px 0 5px;
    background: var(--blue)
}

.navigation a {
    font-weight: 600;
    display: inline-block;
}

.navigation a:hover {
    text-decoration: none;
    color: var(--dark-blue)
}

.navigation .prev:before {
    content: "Prev";
}

.navigation .next:before {
    content: "Next";
}

/* //////////////////////// */
/* FOOTER */
.footer {
    background: var(--blue);
    height: 20vh;
    width: 100%;
    margin-top: 1.5rem;
    padding: 1.5rem;
}

/* //////////////////////// */
/*CARDS */
.descryptors-grid {
    z-index: 1;
    margin-top: 1.4rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 1.5rem;
}

.descryptor {
    padding: 2rem 2rem 2rem 2rem;
    background: white;
    position: relative;
    box-shadow: 0.1rem 0.1rem 1rem #e2e2e2;
    display: flex;
    flex-direction: column;
}

.descryptor-full {
    margin-top: 1.4rem;
    padding: 2rem 2rem;
    background: white;
    box-shadow: 0.1rem 0.1rem 1rem #e2e2e2;
    position: relative;
    display: block;
    width: 100%;
}

.descryptor-full ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style-type: none;
    grid-gap: 1rem;
    margin: 0;
    padding: 0;
}

.descryptor-full li:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.descryptor-full li:nth-child(2) {
    grid-column: span 2;
    grid-row: span 3;
}

.descryptor-full li:nth-child(3) {
    grid-column: span 2;
}

.descryptor-full li h1 {
    color: var(--dark);
}

/* upper part */
.tags-wrapper {
    padding-bottom: 0.7rem;
    opacity: 1;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    color: var(--dark);
}

.tags-wrapper:empty {
    display: none;
}

.tags-wrapper span {
    cursor: pointer;
}

.tags-wrapper span:hover {
    text-decoration: underline;
}

.tags-wrapper .tag {
    margin-right: 0.5rem;
}

.tag {
    opacity: 0.8;
}

.upper-part {
    flex-grow: 1;
}

.descryptor .upper-part h1 {
    word-wrap: break-word;
}

.descryptor .upper-part h1 a {
    color: var(--dark)
}

.descryptor .upper-part .website {
    display: inline-block;
    font-size: 0;
    width: 0;
}

.homepage-icon {
    width: 0.8rem;
    margin-left: 0.4rem;
    opacity: 0.6;
}

.delta {
    transform: translateY(-0.4rem);
}

/* bottom part */
.descryptor .bottom-part h2 {
    word-wrap: break-word;
}

.descryptor .bottom-part h3 {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.coins {
    text-align: center;
}

.pin {
    width: 1.3rem;
    height: 1.3rem;
    position: absolute;
    right: 0.8rem;
    top: 0.8rem;
    background-image: url(../img/plus.svg);
    background-size: cover;
}

.pin:hover {
    background-image: url(../img/plus-hover.svg);
}

#pinlayer:hover {
    opacity: 0.5;
}

.item-left {
    float: left;
    margin: 0;
    margin-right: 0.5rem;
}

.item-middle {
    margin: 0;
    border: 0 dotted;
    border-bottom-width: thin;
    overflow: auto;
    padding-top: 0.8rem;
    opacity: 0.3;
}

.item-right {
    float: right;
    margin: 0;
    margin-left: 10px;
}

.github-repos {
    height: 25%;
    width: 75%;
    padding-top: 2rem;
}

.github-details {
    clear: both;
}

.github-details p {
    line-height: 1rem;
}

.github-total {
    margin-top: 1rem;
}

.chart, .price-chart, .github-chart {
    width: 100%;
    position: relative;
    margin: 0.4rem 0 0;
}

.period-wrapper {
    text-align: right;
}

.period-wrapper a {
    font-size: 0.8rem;
    padding-left: 1rem;
    opacity: 0.6;
}

.price-down {
    color: var(--red);
}

.price-up {
    color: var(--green);
}

.inline {
    display: inline-block;
    margin-right: 0.4rem;
    vertical-align: top;
}

.relative {
    position: relative;
}

.homepage-icon:hover {
    opacity: 1;
}

.folder-icon {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    position: absolute;
    right: 0.8rem;
    top: 0.8rem;
    border: 0;
    background-image: url(../img/plus.svg);
    background-size: cover;
}

.folder-icon:hover {
    background-image: url(../img/plus-hover.svg);
}

.placeholder {
    background-color: var(--gray-dark);
    width: 50%;
    height: 1em;
    box-sizing: border-box;
}

.placeholder.full {
    width: 100%;
}

#circle {
    width: 0.5rem;
    height: 0.5rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
}

#circle.on {
    background-color: #4682b4;
}

#circle.off {
    background-color: white;
}

/* search card */
.checkbox {
    visibility: hidden;
    height: 0;
    margin: 0;
}

.loader-icon, .search-icon {
    background-color: var(--blue);
    cursor: text;
    grid-column-end: -1;
    grid-row: 1;
    transition: background-color 0.5s;
    padding-bottom: 6rem;
    background-size: 4rem;
    background-repeat: no-repeat;
    background-position: right 1.9rem bottom 1.9rem;
    caret-color: #fff;
}

.search-icon {
    background-image: url(../img/search.svg);
}

.loader-icon {
    background-image: url(../img/loading.svg);
    background-size: 4.9rem;
    background-position: right 1.35rem bottom 1.35rem;
}

.search-box {
    border: 0;
    font-family: 'GothamRegular', sans-serif;
    min-height: 5rem;
    height: 100%;
}

.search-input-field {
    width: 100%;
    float: left;
    outline: none;
    border: 0;
    background-color: transparent;
    font-size: 2.8rem;
    font-family: 'GothamRegular', sans-serif;
    color: var(--gray);
    caret-color: var(--gray);
    margin: 1.2rem auto 1.5rem auto;
    max-width: 100%;
}

.search-tag {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    clear: both;
    float: left;
    font-family: 'GothamRegular', sans-serif;
    font-size: 1.3rem;
    color: var(--gray);
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.search-tag:hover {
    text-decoration: line-through;
}

.spinner {
    width: 32px;
    height: 32px;
    background: url("../img/spinner.gif") no-repeat 50% 50%;
    z-index: 500;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -16px;
    margin-left: -16px;
}

.search-counter {
    position: absolute;
    right: 2.6rem;
    bottom: 3.25rem;
    color: var(--white);
}

.search-toolbar {
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.search-toolbar__item {
    font-family: GothamRegular, sans-serif;
    width: 3.06rem;
    height: 2rem;
    background-size: cover;
}

.search-union {
    background-image: url(../img/search-union.svg);
}

.search-intersection {
    background-image: url(../img/search-intersection.svg);
}

.descryptor__rating {
    display: inline-block;
    font-family: Pixelmix;
    font-size: 0.5rem;
    overflow: visible;
    width: 0;
    margin-left: 0.2rem;
    transform: translateY(-0.5rem);
}

/* //////////////////////// */
/*MEDIA*/
@media (max-width: 800px) {
    .descryptor-full ul {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 991px) {
    .logo-wrapper {
        width: 30px;
        overflow: hidden;
        transform: translateY(3px);
    }

    .logo__text {
        display: none;
    }

    #logo__container {
        width: 250px !important
    }
}

@media (max-width: 576px) {
    .search-box > *:not(.search-input-field):not(.radio) {
        display: none;
    }

    .search-box {
        display: flex;
        align-items: center;
        height: 125px;
        transition: .1s ease all;
    }

    .search-input-field {
        padding-left: 30px;
        margin: 0;
        max-width: 70%;
        transition: .1s ease all;
    }

    .search-icon {
        padding: 0;
        overflow: hidden;
        transition: .1s ease all;
    }

    .checkbox-label {
        background: #fff;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
        left: -10%;
        top: -40%;
        transition: .1s ease all;
    }
    .checkbox:checked + .checkbox-label{
        background: var(--green);
        width: 30px;
        height: 30px;
        left: 2rem;
        top: 2.15rem;
    }
    .checkbox:checked ~ .search-box > *:not(.search-input-field) {
        display: block;
    }

    .checkbox:checked ~ .search-box {
        display: block;
        padding: 2rem 2rem 2rem 2rem;
        height: auto;
    }

    .checkbox:checked ~ .search-box .search-toolbar {
        display: flex !important;
        margin-top: 0;
        margin-bottom: 0;
        padding-right: 10px;
    }
    .checkbox:checked ~ .search-box .search-input-field {
        padding-left: 0;
        margin: 2rem auto 3rem auto;
        max-width: 100%;
    }


}
