/* //////////////////////// */
/*TOOLBAR*/
.toolbar {
    z-index: 2;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 2rem;
    justify-content: center;
    margin-top: -15px;
    padding: 0 10px;
}

.toolbar__item {
    margin-right: 1rem;
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-top: 15px;
}


.toolbar__item:last-child {
    margin-right: 0;
}

.toolbar__dropdown,
.toolbar__filter {
    cursor: pointer;
    display: flex;
    background: white;
    user-select: none;
    line-height: 25px;
}

/*FILTER*/
.toolbar__filter-container{
    display: flex;
    align-items: center;
    margin-top: -15px;
}
.toolbar__filter-container > *{
    margin-top: 15px;

}
.toolbar__filter {
    border-radius: 16px;
    text-decoration: none;
    padding: 0 20px;
    align-items: center;
    margin-right: 10px;
}
.toolbar__filter:last-child{
    margin-right: 0
}
.toolbar__filter:visited {
    color: var(--gray-dark);
}

.toolbar__filter--active {
    background: var(--blue);
    color: var(--white);
}
.toolbar__label--filter {
    display: inline-block;
}

/*LABEL*/
.toolbar__label {
    width: 63px;
    margin-right: 10px;
}

/*DROPDOWN*/
.toolbar__dropdown {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: .3s ease all;
    border: none;
    position: relative;
    width: auto;
    width: 135px;
    cursor: pointer;
    user-select: none;
    background: white url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="48" viewBox="0 0 48 48"><path d="M14 20l10 10 10-10z"/><path d="M0 0h48v48h-48z" fill="none"/></svg>') no-repeat calc(100% - 7px) 51%;
}

.toolbar__dropdown:focus {
    outline: none;
}

.toolbar__option-wrapper {
    position: absolute;
    left: 0;
    background: white;
    top: 100%;
    width: 100%;
    box-shadow: -2px 1px 23px 1px rgba(0, 0, 0, 0.025), 2px 1px 23px 1px rgba(0, 0, 0, 0.025);
    overflow: hidden;
    z-index: -1;
    animation: toolbar-dropdown .2s ease forwards;
}

@keyframes toolbar-dropdown {
    0% {
        padding-top: 0
    }
    100% {
        padding-top: 5px
    }
}

.toolbar__dropdown option {
    height: 24px;
    padding: 2px 10px;
    display: flex;
    align-items: center;
}

.toolbar__placeholder {
    z-index: 1;
    padding: 0 10px;
}

.toolbar__dropdown option:hover {
    background: var(--blue);
    color: var(--white);
}

/*BREAK*/
.toolbar__item.break--vertical {
    margin: 0 28px 0 19px;
}

.toolbar__item.break--horizontal {
    margin: 0 25px 0 7px;
}

/*ICON*/
.icon--info{
    width: 25px;
    height: 25px;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
}
/*MEDIA*/
@media (max-width: 1270px) {
    .toolbar__item.break {
        display: none;
    }
    .toolbar__filter-container{
        margin-right: 15px
    }
}

@media (max-width: 1200px) {
    .toolbar__filter-wrapper {
        width: 100%;
        justify-content: center;
        display: flex;
    }
    .toolbar__filter-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-right: 0;
    }

    .toolbar__dropdown {
        width: 105px;
    }
}

@media (max-width: 776px) {
    .header {
        flex-wrap: wrap;
    }

    .toolbar {
        order: 2;
        margin-top: 20px;
        padding: 0;
        justify-content: space-between;
        margin-bottom: 15px;
        width: 100%;
    }

    .toolbar__filter-wrapper:before,
    .toolbar__filter-wrapper:after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: #fff;
    }

    .toolbar__filter-wrapper:before {
        margin-bottom: 35px;
    }

    .toolbar__filter-wrapper:after {
        margin-top: 35px;
        margin-bottom: 10px;
    }

    .toolbar__filter-wrapper {
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-right: 0;
    }

    .toolbar__label--filter {
        /*display: none;*/
    }

}
