@font-face {
    font-family: 'Essays1743';
    src:url('../fonts/essays.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Essays1743';
    src:url('../fonts/essays-italic.woff');
    font-weight: normal;
    font-style: italic;
}


html {
    background:url(../img/background.jpg);
    background-size: 100%;
}

body {
    background-color: transparent;

}

.logo-container {
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: center;
}


.menu {
    padding-top: 60px;
}


.menu-item-container {
    padding-bottom: 30px;
}

.menu-item-container:hover .menu-img img {
    /*    opacity: 0.7; */
    transform: scale(1.1);
    transition: all .1s ease-in-out;
}


.menu-img {
    cursor: pointer;
}

.menu-item
{
    font-family : Essays1743;
    font-size : 36px;
    letter-spacing : 1.8px;
    color : #231F20;
    color : rgb(35, 31, 32);
    cursor: pointer;
}


.menu-desc
{
    font-family : Essays1743 Italic;
    font-style : italic;
    font-size : 20px;
    letter-spacing : 1.2px;
    color : #231F20;
    color : rgb(35, 31, 32);
    width: 268px;
    cursor: pointer;
}



.construct
{
    font-family : Essays1743;
    font-size : 3.3em;
    letter-spacing : 1.8px;
    color : black;
    text-align: center;
    margin-top: 0.3em;
}

.contatti
{
    font-family : Essays1743;
    font-size : 2.6em;
    letter-spacing : 1.8px;
    color : #c21700;
    text-align: center;
    margin-top: 0.3em;
    margin-bottom: -0.3em;
}


.main-desc
{
    font-family : Essays1743;
    font-style : italic;
    font-size : 1.8em;
    letter-spacing : 1.2px;
    color : #c21700;
    text-align: center;
    margin-top: -0.5em;
}

.main-title
{
  font-family : Essays1743;
  font-size : 3em;
  letter-spacing : 1.5px;
  color : #231F20;
  color : rgb(35, 31, 32);
  text-align: center;
}

.contact-item
{
  font-family : Essays1743;
  font-size : 1.8em;
  letter-spacing : 1.2px;
  color : #231F20;
  color : rgb(35, 31, 32);
  margin-bottom: -10px;
}



.blend {
    mix-blend-mode: overlay;
}

.contacts {
    margin-top: 3em;
}

.icon {
    margin-top: -0.3em;
    margin-right: 0.3em;
    color : #231F20;
}

.copyright {
    font-family : Essays1743;
    font-size : 1em;
    letter-spacing : 1.2px;
    color : #231F20;
    color : rgb(35, 31, 32);
    margin-bottom: -10px;
}

.webdesign {
    font-family : Essays1743;
    font-size : 1.2em;
    letter-spacing : 1.2px;
    color : #c21700;
    opacity: 0.8;
    margin-bottom: -10px;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    tansform: scale(1.1);
}

.clickable:hover i {
    transform: scale(1.1);
}